@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #bf3b46;
  --brand-opaque: rgba(191, 59, 70, 0.1);
  --gray: #3b3b3b;
  --background: #ffffff;
  --background-gray: #f7f7f7;
  --background-shade: hsl(178.59deg 34.98% 47.65% / 8%);
  --foreground: #171717;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.dark {
  --gray: #c4c4c4;
  --background: #1e1e1e;
  --background-gray: #1c1b1b;
  --background-shade: hsl(358.59deg 34.98% 57.65% / 8%);
  --foreground: #ededed;
}

html {
  background: var(--background-gray);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-source-sans-3);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-roboto-slab);
  text-transform: capitalize;
  color: var(--brand);
  font-weight: 700;
  line-height: 1.24;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0.67em 0;
  letter-spacing: 0.0365rem;

  @media (min-width: 768px) {
    font-size: 3.5rem;
  }

  .header__name {
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.0325rem;
    font-family: var(--font-source-sans-3);
    margin: 0.5rem 0 1rem;
    display: inline-block;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.0325rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  cursor: pointer;
}

a,
a:focus {
  color: var(--brand);
  border: none;
  display: block;
  text-decoration: underline;
  transition: all 0.15s ease-in;
  &:hover {
    filter: brightness(120%);
  }
}

button,
button:focus {
  transition: all 0.15s ease-in;
  &:hover {
    filter: brightness(120%);
  }
}

header:not(article header),
footer:not(article footer) {
  background: var(--background-gray);
  i.lni {
    font-size: 24px;
  }
}

.menu li {
  height: 24px;
}

.layout {
  grid-column: 2;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section--panel {
  .lead {
    font-size: 1.25rem;
    line-height: 1.9;
    letter-spacing: 0.0365rem;
    padding: 0 0 5rem 0;
  }
}

.portfolio__list {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: min-content;
  justify-content: flex-start;
  position: relative;
}

.portfolio__slide {
  flex: 0 0 auto;
  height: auto;
  position: relative;
  min-height: 650px;
  border-top: 1px solid #d2cfcf23;
  background: var(--background-gray)
    linear-gradient(
      135deg,
      hsl(358.59deg 34.98% 57.65% / 8%) 0%,
      hsl(178.59deg 34.98% 47.65% / 8%) 100%
    );
  background-blend-mode: normal;
}

.project:nth-child(odd) .portfolio__slide {
  background: var(--background-gray)
    linear-gradient(
      135deg,
      hsl(178.59deg 34.98% 47.65% / 8%) 0%,
      hsl(358.59deg 34.98% 57.65% / 8%) 100%
    );
  background-blend-mode: normal;
}

.skills__list li {
  font-size: 1.25rem;
  line-height: 1.9;
  letter-spacing: 0.0365rem;
}

.gradient-left {
  background: var(--background-gray)
    linear-gradient(
      135deg,
      hsl(178.59deg 34.98% 47.65% / 8%) 0%,
      hsl(358.59deg 34.98% 57.65% / 8%) 100%
    );
}

.gradient-right {
  background: var(--background-gray)
    linear-gradient(
      135deg,
      hsl(358.59deg 34.98% 57.65% / 8%) 0%,
      hsl(178.59deg 34.98% 47.65% / 8%) 100%
    );
}

@media (min-width: 768px) {
  .portfolio__slide {
    top: 115px;
    position: sticky;
  }
}

.skills__specs,
.portfolio__details {
  li {
    position: relative;
  }
}

.animated-gradient {
  background: var(--background-gray)
    linear-gradient(
      var(--angle, 135deg),
      hsl(178.59deg 34.98% 47.65% / 8%) 0%,
      hsl(358.59deg 34.98% 57.65% / 8%) 100%
    );
  animation: rotate 8s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 135deg;
  inherits: false;
}
